@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
	@await Component.InvokeAsync("_HeadComponent")

<body>
	<div class="wrapper">
		
		@await Component.InvokeAsync("_MainHeaderComponent")


		@await Component.InvokeAsync("_SidebarComponent")
	
	

		<div class="main-panel">
			<div class="content">
				<div class="page-inner">
					@RenderBody()
				</div>
			</div>
		</div>

	</div>

	@await Component.InvokeAsync("_ScriptComponent")
</body>
</html>
