@using Blogy.Business.DTOs.CategoryDtos
@model List<ResultCategoryDto>

<div class="sidebar-box">
    <h3 class="heading">Categories</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            <li>
                <a href="/Blog/GetBlogsByCategory/@item.Id">
                    @item.CategoryName
                    <span>(@(item.Blogs != null ? item.Blogs.Count() : 0))</span>
                </a>
            </li>
        }
    </ul>
</div>